@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F1F1F1;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 15%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    max-height: 200px;
}

.header .logo {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 40px;
    color: #ededed;
    text-decoration: none;
    font-weight: 700;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 450;
    margin-left: 30px;
}

.navbar a:hover {
    background-color: #555;
}

.home {
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%
}

.home-content, .about-content {
    max-width: 900px;
}

.home-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-size: 55px;
    color: #034661;
    font-weight: 700;
    padding-top: 80px;
    padding-left: 20px;
    background-color: #e4e2c7;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    margin-top: 800px;
    font-family: 'Times New Roman', Times, serif;
}

.home-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #2d0241;
    font-weight: 700;
    padding-top: 5x;
    padding-left: 15px;
    background-color: #fcf6aa;
    overflow: hidden;
    border-radius: 70px;
    box-shadow: 0 0 15px rgba(2, 102, 94, 0.5);
    margin-top: 30px;
    font-family: garamond;
}

.home-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 30px
}

.home-content img {
    border-radius: 10px;
    margin-top: 20px;
}

.home-content h3, .about-content h3, .about-content h4, .about-content h5 {
    font-size: 30px;
    color: #2d0241;
    font-weight: 700;
    padding-top: 5x;
    padding-left: 15px;
    background-color: #fcf6aa;
    overflow: hidden;
    border-radius: 70px;
    box-shadow: 0 0 15px rgba(2, 102, 94, 0.5);
    margin-top: 30px;
    font-family: garamond;
}

.home-content p, .about-content p {
    font-size: 16px;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 30px
}

.about-content p {
    margin-left:50px
}

.about-content h1 {
    font-size: 55px;
    color: #034661;
    font-weight: 700;
    padding-top: 0px;
    padding-left: 10px;
    background-color: #e4e2c7;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    margin-top: 200px;
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.about-content h2, .about-content h3, .about-content h4, .about-content h5 {
    margin-left: 50px
}

.about-content img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 50px;
}

.contact-content h1 {
    font-size: 55px;
    color: #034661;
    font-weight: 700;
    padding-top: 0px;
    padding-left: 10px;
    background-color: #e4e2c7;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    margin-top: 0px;
    margin-left: 100px;
    margin-bottom: 150px;
    font-family: 'Times New Roman', Times, serif;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.contact-content {
    text-align: center;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.contact-icons a {
    display: inline-block;
    transition: transform 0.3s ease;
}

.contact-icons img {
    width:200px;
    height: 200px;
    border-radius: 50%;
}

.contact-icons a:hover {
    transform: scale(1.1);
}

.contact-content h1 {
    font-size: 55px;
    color: #034661;
    font-weight: 700;
    padding-top: 0px;
    padding-left: 10px;
    background-color: #e4e2c7;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    margin-bottom: 150px;
    font-family: 'Times New Roman', Times, serif;
}